.titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.titles > div {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  width: 75px;
  height: 28px;
  border-radius: 10px;
}
.titles > div:nth-child(2) {
  color: #4b5563;
  display: flex;
  justify-content: center;
}
.container {
  padding-left: 112px;
  padding-right: 112px;
  display: grid;
  grid-template-columns: 1fr repeat(8);
  grid-template-rows: 1fr 1fr;
}
