.title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  width: 100px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
}
.subtitle {
  color: #4b5563;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
