.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 48px;
  padding: 96px 80px;
}
.box {
  gap: 48px;
  display: flex;
  flex-direction: column;
}
